<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

<body style="margin: 0 !important; padding: 0 !important; background-color: #eeeeee;" bgcolor="#eeeeee">
    <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Open Sans, Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
        For what reason would it be advisable for me to think about business content? That might be little bit risky to have crew member like them.
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" style="background-color: #eeeeee;" bgcolor="#eeeeee">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                    <tr>
                        <td align="center" valign="top" style="font-size:0; padding: 35px;" bgcolor="#ddffd5">
                            <div style="display:inline-block; max-width:50%; min-width:100px; vertical-align:top; width:100%;">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                    <tr>
                                        <td align="center" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 48px;" class="mobile-center">
                                            <img src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t1.15752-9/274298037_293510366203316_6124328350111645000_n.png?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_ohc=hXNxJjBk2Q0AX92zYl3&_nc_ht=scontent.fsgn5-9.fna&oh=03_AdQf2uAOOwzZ81Q6muDBeB3jQREACtZ6wp2RE255eM6m3Q&oe=6496E560" width="220px"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;" bgcolor="#ffffff">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                                <tr>
                                    <td align="center" style="font-family: Open sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/768px-Flat_tick_icon.svg.png" width="115" height="110" style="display: block; border: 0px;" /><br>
                                        <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;"> Congratulations on your successful order! </h2>
                                        <p style="font-family: Open sans-serif; font-size: 18px;"><em>We will process your order as soon as possible, please be patient!</em></p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td align="left" style="padding-top: 20px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <p style="font-size: 20px;font-family: Open sans-serif; text-decoration: underline;">Your order:</p>
                                            <tr>
                                                <td width="25%" align="left" bgcolor="#eeeeee" style="font-family: Open sans-serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">#</td>
                                                <td width="25%" align="left" bgcolor="#eeeeee" style="font-family: Open sans-serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">Product Name</td>
                                                <td width="25%" align="left" bgcolor="#eeeeee" style="font-family: Open sans-serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">Quantity</td>
                                                <td width="25%" align="left" bgcolor="#eeeeee" style="font-family: Open sans-serif; font-size: 18px; font-weight: 800; line-height: 24px; padding: 10px;">Total Cash</td>
                                            </tr>
                                            
                                            <tr th:each="item,iState : ${cartItems}">
                                                <td width="25%" align="left" style="font-family: Open sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">[[${iState.index + 1}]]</td>
                                                <td width="25%" align="left" style="font-family: Open sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">[[${item.product.productName}]]</td>
                                                <td width="25%" align="left" style="font-family: Open sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">[[${item.quantity}]]</td>
                                                <td width="25%" align="left" style="font-family: Open sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">[[${#numbers.formatDecimal((item.product.price - (item.product.price * item.product.discount/100)) * item.quantity, 1, 'DEFAULT', 0, 'DEFAULT')}+ ' VND']]</td>
                                                																																				
                                            </tr>
                                            
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-top: 20px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tr>
                                                <td width="75%" align="left" style="font-family: Open sans-serif; font-size: 20px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee;"> Total Cash: </td>
                                                <td width="25%" align="left" style="font-family: Open sans-serif; font-size: 20px; font-weight: 800; line-height: 24px; padding: 10px; border-top: 3px solid #eeeeee; border-bottom: 3px solid #eeeeee; color: red;"> [[${#numbers.formatDecimal(totalPrice, 1, 'DEFAULT', 0, 'DEFAULT')} + ' VND']] </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" height="100%" valign="top" width="100%" style="padding: 0 35px 35px 35px; background-color: #ffffff;" bgcolor="#ffffff">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:660px;">
                                <tr>
                                    <td align="center" valign="top" style="font-size:0;">
                                        <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                                <tr>
                                                    <td align="left" valign="top" style="font-family: Open sans-serif; font-size: 20px; font-weight: 400; line-height: 24px;">
                                                        <p style="font-weight: 800;">Delivery address</p>
                                                        <p>[[${orderFinal.address}]]</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div style="display:inline-block; max-width:50%; min-width:240px; vertical-align:top; width:100%;">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:300px;">
                                                <tr>
                                                    <td align="left" valign="top" style="font-family: Open sans-serif; font-size: 20px; font-weight: 400; line-height: 24px;">
                                                        <p style="font-weight: 800;">Order date</p>
                                                        <p>[[${orderFinal.orderDate}]]</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td align="center" style="padding: 35px; background-color: #ffffff;" bgcolor="#ffffff">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                                <tr>
                                    <td align="center" style="font-family: Open sans-serif; font-size: 18px; font-weight: 400; line-height: 24px; padding: 5px 0 10px 0;">
                                        <p style="font-size: 18px; font-weight: 800; line-height: 18px; color: #49a010;"> Greeny Shop </p>
                                        <p style="font-family: Open sans-serif;">Thank you for shopping at Greeny - Have a nice day!</p>
                                        <p style="font-family: Helvetica, sans-serif; font-weight: 800;">This is a system mail, please do not reply!</p>
                                    </td>
                                </tr>
                                
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>